.background {
  height: 281px;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  background: url('http://i.imgur.com/8Ot1b00.jpg');
  display: flex;
  align-items: flex-end;
  justify-content: center;
}


.row {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  border: 1px solid black;
}
.wrapper {
  flex: 1 1 auto;
}
.hole {

  background: darken(#263238,20%);
  height: 60px;
  width: 200px;
  border-radius: 50%;
  box-shadow: inset 0 25px 0 rgba(#fff, 0.4);
}
