* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: aquamarine;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container header {
  padding: 1.5rem;
  width: 100%;
  flex: 0 1 auto;
  min-height: 4rem;
  background: deepskyblue;
}

.container main {
  padding: 1.5rem;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background: navajowhite;
}

.container main section {
  display: flex;
  justify-content: center;
}

.container main section article {
  margin: 2rem 1rem;
}

.hole {
  position: relative;
  width: 200px;
  height: 90px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  box-shadow: inset 0 10px 0 rgba(0, 0, 0, 0.2), inset 0 10px 30px rgba(0, 0, 0, 0.6);
}

.mole-box {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 0 0 50% 50% / 15%;
}

.mole {
  position: absolute;
  cursor: pointer;
  left: 15%;
  bottom: 0;
  width: 70%;
  height: 200px;
  border-radius: 1rem;
  background: #fff;
  background-size: cover;
  animation: mole-demo 3000ms ease-in-out infinite;
}

@keyframes mole-demo {
  0% {
    bottom: -250px;
  }
  20% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  100% {
    bottom: 0;
  }
}

.hide {
  display: none;
}
